{% extends 'mailing/base.html' %}
{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header text-center">
                <h4>Newsletters - <strong>{{ object.message.subject }}</strong></h4>
            </div>

            <div class="card-body">
                <table class="table table-borderless">
                    <tr>
                        <th>Client:</th>
                        <td>
                            <div style="max-height: 150px; overflow-y: auto;">
                                <ul>
                                    {% for client in object.clients.all %}
                                    <li>{{ client.full_name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Start:</th>
                        <td>{{ object.start_time }}</td>
                    </tr>
                    <tr>
                        <th>Finish:</th>
                        <td>{{ object.end_time }}</td>
                    </tr>
                    <tr>
                        <th>Interval:</th>
                        <td>{{ object.get_interval_display }}</td>
                    </tr>
                    <tr>
                        <th>Status:</th>
                        <td>{{ object.get_status_display }}</td>
                    </tr>
                    <tr>
                        <th>Title:</th>
                        <td>
                            <div class="static-textarea">{{ object.message.subject }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Message:</th>
                        <td>
                            <div class="static-textarea">{{ object.message.body|linebreaks }}</div>
                        </td>
                    </tr>
                      <tr>
                        <th>owner:</th>
                        <td>
                            <div class="static-textarea">{{ object.owner|linebreaks }}</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'mailing:main_mailing' %}"
                   class="btn btn-primary btn-warning-special mb-2">Back</a>
                {% if user.is_superuser or is_manager %}
                    {% if object.status != 'finished' %}
                        <a href="#" class="btn btn-warning btn-warning-special mb-2">Turn off</a>
                    {% else %}
                        <button class="btn btn-warning btn-warning-special mb-2" disabled>Turn off</button>
                    {% endif %}
                {% endif %}
                {% if user.is_superuser or user == object.owner %}
                    <a href="{% url 'mailing:update_mailing' object.pk %}"
                       class="btn btn-warning btn-warning-special mb-2">Change</a>
                    <a href="{% url 'mailing:delete_mailing' object.pk %}"
                       class="btn btn-danger btn-danger-special mb-2">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}